// Place all the styles related to the ContactForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 a, a:visited {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: center;
}

#menu {
  // background-color: yellow;
  font-size: 2em;
}

li {
  padding-top: 10px;
  padding-right: 50px;
  text-align: left;
  cursor: pointer;
  cursor: hand;
  // background-color: rgb(143, 56, 189);
  list-style-type: none;
}


h1 {
  // padding: 0;
  // margin: 0;
}

#nav {
  z-index: 100;
  position: fixed;
  background-color: #497CAD;
  border-radius: 6px;
  height: 200px;
  margin-top: 150px;
  transition: all 0.5s ease;
  color: white;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  left: -125px;
}


.toggled {
  padding-left: 10%;
}

#body {
  transition: all 0.5s ease;
}

#top_div {
  background: url(image_path('top_div.png'));
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  height: 100vh;
}

  #top_div > h1 {
    // background-color: #9CD4E5;
    // border-radius: 50%;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 3% 0 10px 50%;
    color: white;
    font-size: 100px;
    // border: 1px black solid;
    border-bottom: 2px white solid;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  #recommendation {
    width: 40%;
    margin: 0 0 0 55%;
    // background-color: white;
    text-align: left;
    font-size: 25px;
    padding: 10px;
    color: white;
  }

      #recommendation > li {
        background-color: rgba(0,128,226, 0.4);
        margin-bottom: 10px;
        border-radius: 6px;
        padding: 15px;
      }

#about-me {
  background: url(image_path('aboutmebg.png'));
  // background-position: 100%;
  background-size: cover;
  // background-color: #EDECEC;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  padding-top: 150px;
}

    #about-me > h1 {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    #picture {
      padding-top: 2%;
      background: url(image_path('aboutmepic.jpg'));
      background-size: cover;
      width: 25%;
      float: left;
      margin-left: 20%;
      height: 50%;
      border: 4px #0080E2 solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    #bio {
      padding: 5px;
      background-color: rgba(0,128,226, 0.8);
      width: 35%;
      float: left;
      height: 360px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
    }

#portfolio {
  background: url(image_path('portfolio.png'));
  background-position: 0 100%;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100vh;
}

    #portfolio > h1 {
      text-align: center;
      padding-top: 40px;
      color: white;
    }

    #mywork {
      margin: 5% 0 0 5%;
      width: 100%;
      height: 50%;
      text-align: center;
      padding-left: 120px;
    }

    #mywork > ol {
      list-style-type: none;
      float: left;
      padding-right: 35px;
      width: 40%;
    }

    #mywork > ol >  li {
      padding: 20px;
      text-align: center;
      background-color: rgba(0,128,226, 0.4);
      color: white;
      border: 1px transparent solid;
      margin-bottom: 25px;
      font-size: 25px;
      border-radius: 6px;
    }

    #mywork > ol >  li:hover {
      border: 1px white  solid;
      color: white;

    }

    #mywork > ol > li > p {
      font-size: 18px;
    }

#contact-me {
  background: url(image_path('contactme.jpg'));
  background-position: 0% 100%;
  background-size: cover;
  height: 100vh;
  width: 100%;

}

    #formbox> h1 {
      text-align: center;
      // padding-top: 20%;
      // padding-bottom: 20%;
      color: white;
      // background-color: green;
    }

    #formbox {
      color: white;
      // background-color: maroon;
      width: 100%;
      height: 60%;
      text-align: center;
      padding: 5% 10% 0 0;
    }

#contactform {
  border-radius: 6px;
  background-color: rgb(101,185,130);
  width: 500px;
  height: 350px;
  padding: 20px 0 0 200px;
  // border: .5px black solid;
  // margin-left: 400px;
}

#textboxid {
    height:30px;
    width: 300px;
    font-size:14pt;
    border-radius: 6px;
}

#textboxid-message {
  height: 90px;
  width: 300px;
  font-size:14pt;


}


#socialmedia {
  padding-left: 250px;

}

#socialmedia-list {
  padding: 10px;
  background-color: rgb(101,185,130);
  display: inline;
  float: left;
  border-radius: 50%;
}


// MEDIA QUERIES BEGIN HERE
// 4K
@media only screen and (max-device-width: 2560px) {

	}

// Laptop L
@media only screen and (max-device-width: 1440px) {

  }

// Laptop
@media only screen and (max-device-width: 1024px) {

	}

// Tablet
@media only screen and (max-device-width: 768px) {


  }

// Mobile L
@media only screen and (max-device-width: 425px) {


  }


// Mobile M
@media only screen and (max-device-width: 375px) {


}

// Mobile S
@media only screen and (max-device-width: 320px) {


  }

// MEDIA QUERIES END HERE
