// Place all the styles related to the ContactForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: center;
}

#menu {
  // background-color: yellow;
  font-size: 2em;
}

li {
  padding-top: 10px;
  padding-right: 50px;
  text-align: left;
  // background-color: rgb(143, 56, 189);
}

h1 {
  // padding: 0;
  // margin: 0;
}

#nav {
  z-index: 100;
  position: fixed;
  background-color: #497CAD;
  border-radius: 6px;
  height: 100vh;
  padding-top: 10%;
  transition: all 0.5s ease;
  color: white;
}

#nav > ul {
  // background-color: green;

}

.toggled {
  padding-left: 10%;
}

#body {
  transition: all 0.5s ease;
}

#top_div {
  background: url(image_path('top_div.png'));
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  height: 100vh;
}

  #top_div > h1 {
    background-color: #9CD4E5;
    border-radius: 6px;
    text-align: left;
    width: 50%;
    padding: 10px;
    margin: 10% 0 0 50%;
    color: white;
    font-size: 5em;
    border: 1px black solid;
  }

#about-me {
  // background-color: #0180E2;
  width: 100%;
  height: 100vh;
}

    #about-me > h1 {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    #picture {
      // position: fixed;
      padding-top: 2%;
      background: url(image_path('aboutmepic.jpg'));
      background-size: cover;
      // background-repeat: no-repeat;
      width: 25%;
      float: left;
      margin-left: 20%;
      height: 50%;
      border: 2px #0085E6 solid;
      border-radius: 50%;
    }

    #bio {
      padding: 60px;
      // background-color: blue;
      width: 35%;
      float: left;
      height: 30%;
    }

#portfolio {
  background-color: silver;
  margin: 0;
  width: 100%;
  height: 100vh;
}

    #portfolio > h1 {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 0;
    }

    #sample-one {
      margin: 10% auto;
      // border: 1px black solid;
      width: 25%;
      float: left;
      margin-left: 15%;
      height: 50%;
      text-align: center;
    }

    #sample-two {
      margin: 10% auto;
      // border: 1px black solid;
      width: 25%;
      float: left;
      height: 50%;
      text-align: center;
    }

    #sample-three {
      margin: 10% auto;
      // border: 1px black solid;
      width: 25%;
      float:left;
      height: 50%;
      text-align: center;
    }

#sample-one > h2, #sample-two > h2, #sample-three > h2 {
  margin: 5% 5% 5% auto;
  font-size: 4em;
  background-color: grey;
}

#contact-me {
  background: url(image_path('contactme.jpg'));
  background-position: 0% 100%;
  background-size: cover;
  height: 100vh;

}

    #formbox> h1 {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
      color: white;
      background-color: green;
    }

    #formbox {
      background-color: maroon;
      width: 30%;
      margin: 0 0 0 20%;
      text-align: center;
      height: 90%;
    }

footer {
  position: relative;
  background-color: grey;
  color: white;
  padding-left: 50%;
}


// MEDIA QUERIES BEGIN HERE

// 4K
@media only screen and (max-device-width: 2560px) {

   #nav {
     left: -3%;
   }

   #contact-me > h1 {
     padding: 0 6% 0 0;
   }
	}

// Laptop L
@media only screen and (max-device-width: 1440px) {

    #contact-me > h1 {
      padding: 0 3% 0 0;
    }

    #nav {
      left: -9%;
    }
  }

// Laptop
@media only screen and (max-device-width: 1024px) {

    #nav {
      left: -8%;
    }

    #top_div > h1 {
      text-align: center;
      background-color: blue;
      width: 50%;
      margin: 30% 30%;
    }
	}

// Tablet
@media only screen and (max-device-width: 768px) {


    #top_div > h1 {
      text-align: center;
      background-color: blue;
      width: 50%;
      margin: 30% 15%;
    }

    #picture {
      background-color: white;
      width: 20%;
      float: left;
      height: 30%;
    }

    #bio {
      background-color: blue;
      width: 40%;
      float: left;
      height: 45%;
    }

    #sample-one {
      margin: 10% auto;
      background-color: red;
      width: 20%;
      float: left;
      display:inline-block;
      margin-left: 15%;
      height: 40%;
    }

    #sample-two {
      margin: 10% auto;
      background-color: white;
      width: 20%;
      float: left;
      display:inline-block;
      height: 40%;
    }

    #sample-three {
      margin: 10% auto;
      background-color: blue;
      width: 20%;
      float:left;
      display:inline-block;
      height: 40%;
    }

    #formbox {
      background-color: maroon;
      width: 50%;
      margin: 10% 20%;
      text-align: center;
      height: 50%;
    }

  }

// Mobile L
@media only screen and (max-device-width: 425px) {


    #top_div {
      height: 100vh;
    }

    #top_div > h1 {
      text-align: center;
      background-color: blue;
      width: 20%;
      margin: 30% 45%;
    }

    #about-me {
      height: 60vh;
    }

      #picture {
        padding-top: 2%;
        padding-bottom: 1%;
        background-color: white;
        width: 50%;
        margin-left: 30%;
        height: 20%;
      }

      #bio {
        background-color: blue;
        width: 50%;
        clear:left;
        height: 40%;
        margin-left: 30%;
      }

    #portfolio {
      height: 70vh;
    }

      #sample-one {
        margin: 10% auto;
        background-color: red;
        width: 50%;
        margin-left: 30%;
        height: 25%;
        margin-bottom: 0;
      }

      #sample-two {
        margin-top: 0;
        margin-left: 30%;
        background-color: white;
        width: 50%;
        clear: left;
        height: 25%;
        margin-bottom: 0;
      }

      #sample-three {
        margin-top: 0;
        margin-left: 30%;
        background-color: blue;
        width: 50%;
        clear: left;
        height: 25%;
        margin-bottom: 0;
      }

    #contact-me {
      height: 50vh;
    }

    #formbox {
      background-color: maroon;
      width: 30%;
      margin: 5% 40%;
      text-align: center;
      height: 50%;
    }

  }

// Mobile M
// about, portfolio, contact link are scroll past when clicked
@media only screen and (max-device-width: 375px) {

  #top_div {
    height: 100vh;
  }

  #top_div > h1 {
    text-align: center;
    background-color: blue;
    width: 20%;
    margin: 30% 35%;
  }

  #about-me {
    height: 60vh;
  }

    #picture {
      padding-top: 2%;
      padding-bottom: 1%;
      background-color: white;
      width: 50%;
      margin-left: 25%;
      height: 20%;
    }

    #bio {
      background-color: blue;
      width: 50%;
      clear:left;
      height: 40%;
      margin-left: 25%;
    }

  #portfolio {
    height: 70vh;
  }

    #sample-one {
      margin: 10% auto;
      background-color: red;
      width: 50%;
      margin-left: 25%;
      height: 25%;
      margin-bottom: 0;
    }

    #sample-two {
      margin-top: 0;
      margin-left: 25%;
      background-color: white;
      width: 50%;
      clear: left;
      height: 25%;
      margin-bottom: 0;
    }

    #sample-three {
      margin-top: 0;
      margin-left: 25%;
      background-color: blue;
      width: 50%;
      clear: left;
      height: 25%;
      margin-bottom: 0;
    }

  #contact-me {
    height: 50vh;
  }

  #formbox {
    background-color: maroon;
    width: 30%;
    margin: 5% 35%;
    text-align: center;
    height: 50%;
  }

}


// Mobile S
// about, portfolio, contact link are scroll past when clicked
@media only screen and (max-device-width: 320px) {

  #top_div {
    height: 100vh;
  }

  }

// MEDIA QUERIES END HERE
